﻿@model KijijitoForever.Models.AspNetUsers

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>AspNetUsers</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label">Name</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="NormalizedUserName" class="control-label"></label>
            <input asp-for="NormalizedUserName" class="form-control" />
            <span asp-validation-for="NormalizedUserName" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="NormalizedEmail" class="control-label"></label>
            <input asp-for="NormalizedEmail" class="form-control" />
            <span asp-validation-for="NormalizedEmail" class="text-danger"></span>
        </div>*@
            @*<div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="EmailConfirmed" /> @Html.DisplayNameFor(model => model.EmailConfirmed)
            </label>
        </div>*@
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PasswordRepeat" class="control-label">Password (repeat)</label>
                <input asp-for="PasswordRepeat" class="form-control" />
                <span asp-validation-for="PasswordRepeat" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="PasswordHash" class="control-label"></label>
            <input asp-for="PasswordHash" class="form-control" />
            <span asp-validation-for="PasswordHash" class="text-danger"></span>
        </div>*@
            @*<div class="form-group">
        <label asp-for="SecurityStamp" class="control-label"></label>
        <input asp-for="SecurityStamp" class="form-control" />
        <span asp-validation-for="SecurityStamp" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConcurrencyStamp" class="control-label"></label>
            <input asp-for="ConcurrencyStamp" class="form-control" />
            <span asp-validation-for="ConcurrencyStamp" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label">Phone</label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            @*<div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="PhoneNumberConfirmed" /> @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
            </label>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="TwoFactorEnabled" /> @Html.DisplayNameFor(model => model.TwoFactorEnabled)
            </label>
        </div>
        <div class="form-group">
            <label asp-for="LockoutEnd" class="control-label"></label>
            <input asp-for="LockoutEnd" class="form-control" />
            <span asp-validation-for="LockoutEnd" class="text-danger"></span>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="LockoutEnabled" /> @Html.DisplayNameFor(model => model.LockoutEnabled)
            </label>
        </div>
        <div class="form-group">
            <label asp-for="AccessFailedCount" class="control-label"></label>
            <input asp-for="AccessFailedCount" class="form-control" />
            <span asp-validation-for="AccessFailedCount" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Province" class="control-label"></label>
                <input asp-for="Province" class="form-control" />
                <span asp-validation-for="Province" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostalCode" class="control-label">Postal Code</label>
                <input asp-for="PostalCode" class="form-control" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PictureFile" class="control-label">Picture</label>
                <input asp-for="PictureFile" accept="image/*" class="form-control" />
                <span asp-validation-for="PictureFile" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Picture" class="control-label"></label>
                <input asp-for="Picture" class="form-control" />
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>*@
            @*<div class="form-group">
            <label asp-for="Rating" class="control-label"></label>
            <input asp-for="Rating" class="form-control" />
            <span asp-validation-for="Rating" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Secret" class="control-label"></label>
            <input asp-for="Secret" class="form-control" />
            <span asp-validation-for="Secret" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SecretCreationTs" class="control-label"></label>
            <input asp-for="SecretCreationTs" class="form-control" />
            <span asp-validation-for="SecretCreationTs" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
