﻿@model KijijitoForever.Models.ConversationVM

@{
    ViewData["Title"] = "Create";
    var userName = User.Identity.Name;
    var senderId = ViewBag.CurrentId;
}

<h1>Create</h1>

<h4>Conversations</h4>
<hr />

<div class="jumbotron bg-light">
    <h2 class="text-center text-primary">
        Private chat
    </h2>

    <div class="row">
        <div class="col-md-12" id="chat">
            @if (Model.Messages != null)
            {
                @foreach (var message in Model.Messages)
                {
                    string containerClass, timePosition, textAlign, contcolor, offset;
                    if (userName == message.Sender.UserName)
                    {
                        containerClass = "container darker";
                        timePosition = "time-right text-light";
                        textAlign = "text-right text-white";
                        contcolor = "bg-primary";
                        offset = "col-md-6 offset-md-6";
                    }
                    else
                    {
                        containerClass = "container";
                        timePosition = "time-left";
                        textAlign = "text-left";
                        contcolor = "bg-light";
                        offset = "";
                    }

                    <div class="row">
                        <div class="@offset">
                            <div class="@containerClass @contcolor">

                                <p class="sender @textAlign">@message.Sender.UserName</p>
                                <p class="@textAlign">@message.Message</p>
                                <span class="@timePosition">@message.CreationTs.ToString("M/dd/yyyy hh:MM tt")</span>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="col-md-12">
            <form asp-action="Create"
                  data-ajax-begin="clearInputField" data-ajax-complete=""
                  data-ajax-failure="alert('Fail')" data-ajax-success="sendMessage"
                  data-ajax="true" data-ajax-method="POST">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    @*<label asp-for="NewMessage.SenderId" class="control-label"></label>*@
                    @*<input asp-for="NewMessage.SenderId" class="form-control" value="@senderId" />*@
                    @*<span asp-validation-for="NewMessage.SenderId" class="text-danger"></span>*@
                </div>
                @*<div class="form-group">
                        <label asp-for="NewMessage.ReceiverId" class="control-label"></label>
                        <input asp-for="NewMessage.ReceiverId" class="form-control" />
                        <span asp-validation-for="NewMessage.ReceiverId" class="text-danger"></span>
                    </div>*@
                <div class="form-group">
                    <label asp-for="NewMessage.Message" class="control-label"></label>
                    <input asp-for="NewMessage.Message" class="form-control" name="Text" id="messageText" />
                    <span asp-validation-for="NewMessage.Message" class="text-danger"></span>
                </div>
                @*<div class="form-group">
                        <input name="Text" class="form-control" id="messageText" />
                    </div>*@
                <div class="form-group">
                    @*<label asp-for="NewMessage.Status" class="control-label"></label>*@
                    <input asp-for="NewMessage.Status" class="form-control" hidden value="Sent" />
                    @*<span asp-validation-for="NewMessage.Status" class="text-danger"></span>*@
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" id="submitButton" class="btn btn-outline-primary btn-block" />
                </div>
                <input type="hidden" value="@userName" name="username" />
            </form>
        </div>
    </div>

</div>

@*<div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="NewMessage.SenderId" class="control-label"></label>
                    <input asp-for="NewMessage.SenderId" class="form-control" />
                    <span asp-validation-for="NewMessage.SenderId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NewMessage.ReceiverId" class="control-label"></label>
                    <input asp-for="NewMessage.ReceiverId" class="form-control" />
                    <span asp-validation-for="NewMessage.ReceiverId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NewMessage.Message" class="control-label"></label>
                    <input asp-for="NewMessage.Message" class="form-control" />
                    <span asp-validation-for="NewMessage.Message" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NewMessage.Status" class="control-label"></label>
                    <input asp-for="NewMessage.Status" class="form-control" />
                    <span asp-validation-for="NewMessage.Status" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>*@




@*@model KijijitoForever.Models.Conversations

    @{
        ViewData["Title"] = "Create";
    }

    <h1>Create</h1>

    <h4>Conversations</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="SenderId" class="control-label"></label>
                    <input asp-for="SenderId" class="form-control" />
                    <span asp-validation-for="SenderId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ReceiverId" class="control-label"></label>
                    <input asp-for="ReceiverId" class="form-control" />
                    <span asp-validation-for="ReceiverId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Message" class="control-label"></label>
                    <input asp-for="Message" class="form-control" />
                    <span asp-validation-for="Message" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Status" class="control-label"></label>
                    <input asp-for="Status" class="form-control" />
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>*@

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/signalr/signalr.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/js/chat.js"></script>
    <script src="~/js/signalrReqHandler.js"></script>
}
