﻿@model IEnumerable<KijijitoForever.Models.AspNetUsers>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td class="align-middle">
                    <div>
                        @if (item.Picture == null)
                        {
                            <p>No image</p>
                        }
                        else
                        {
                            <img height="100" src="/userImages/@Html.DisplayFor(modelItem => item.Picture)">
                        }
                    </div>
                </td>
                <td class="align-middle">
                   
                        @Html.DisplayFor(modelItem => item.UserName)
                                  
                </td>              
                <td class="align-middle">
                    <form asp-area="" asp-controller="ChatRoom" asp-action="Index" asp-route-id="@item.Id">
                        <button class="btn" type="submit" style="background-color:blueviolet;">Check conversation!</button>
                    </form>
                </td>
            </tr>
    }
        </tbody>
    </table>
