﻿@model KijijitoForever.Models.Products

@{
    ViewData["Title"] = "Details";
    var currentUserId = ViewBag.CurrentId;
}

<h1>Details</h1>

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <h2> @Html.DisplayFor(model => model.Title)</h2><br />
                <h2 style="color:green;"> $ @Html.DisplayFor(model => model.Price)</h2>
            </div>
            <div class="row">
                <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="img-fluid w-80" src="~/productImages/@Html.DisplayFor(model => model.Image1)" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="img-fluid w-80" src="~/productImages/@Html.DisplayFor(model => model.Image2)" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="img-fluid w-80" src="~/productImages/@Html.DisplayFor(model => model.Image3)" alt="Third slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="row">
                <h5>@Html.DisplayNameFor(model => model.Description)</h5>
                <h5>@Html.DisplayFor(model => model.Description)</h5>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="align-middle text-center" style="height: 60px;">
                <p>Posted on  @Html.DisplayFor(model => model.PostedTs)</p>
                <p>@Html.DisplayFor(model => model.Status)</p>
            </div>

            <div class="border text-center mb-2" style="background-color:whitesmoke;">
                <p>Contact @Html.DisplayFor(model => model.User.UserName) </p>
                <form asp-area="" asp-controller="ChatRoom" asp-action="Index" asp-route-id="@Model.User.Id">
                    <button class="btn" type="submit" style="background-color:blueviolet;">Start a conversation!</button>
                </form>
                @*<input class="form-control align-middle m-sm-1" placeholder="Your message" value="Hi, I'm interested.............." />
                    <input type="submit" value="Send a message" class="btn w-100 m-sm-1" style="background-color:blueviolet;" />*@
            </div>
            <div class="border text-center" style="background-color:whitesmoke;">
                <p>Seller information</p>
                <p>Email:  @Html.DisplayFor(model => model.User.Email)</p>
                <p>Phone:  @Html.DisplayFor(model => model.User.PhoneNumber)</p>
            </div>
        </div>
    </div>
</div>

<div>
    @if (currentUserId == Model.UserId)
    {
        <span>
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
            <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a> |
        </span>
    }
    <a asp-action="Index">Back to Products</a>
</div>
