﻿@model KijijitoForever.Models.Products

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Products</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            @*<div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                 <input asp-for="UserId" class="form-control" hidden/>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="row">
                <div class="col-4 text-center">
                    <p>Picture 1:</p>
                    <img id="pic1" class="img-fluid w-80" src="~/productImages/@Html.DisplayFor(model => model.Image1)">
                </div>
                <div class="col-4 text-center">
                    <p>Picture 2:</p>
                    <img id="pic2" class="img-fluid w-80" src="~/productImages/@Html.DisplayFor(model => model.Image2)">
                </div>
                <div class="col-4 text-center">
                    <p>Picture 3:</p>
                    <img id="pic3" class="img-fluid w-80" src="~/productImages/@Html.DisplayFor(model => model.Image3)">
                </div>
            </div>

            <div class="form-group">
                <label asp-for="ImageFile1" class="control-label"></label>
                <input asp-for="ImageFile1" type='file' id="inputFile1" accept="image/*" class="form-control" />
                <span asp-validation-for="ImageFile1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile2" class="control-label"></label>
                <input asp-for="ImageFile2" type='file' id="inputFile2" accept="image/*" class="form-control" />
                <span asp-validation-for="ImageFile2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile3" class="control-label"></label>
                <input asp-for="ImageFile3" type='file' id="inputFile3" accept="image/*" class="form-control" />
                <span asp-validation-for="ImageFile3" class="text-danger"></span>
            </div>
            <div class="form-group">
                    @*<label asp-for="Image1" class="control-label"></label>*@
                    <input asp-for="Image1" class="form-control" hidden/>
                    <span asp-validation-for="Image1" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @*<label asp-for="Image2" class="control-label"></label>*@
                    <input asp-for="Image2" class="form-control" hidden/>
                    <span asp-validation-for="Image2" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @*<label asp-for="Image3" class="control-label"></label>*@
                    <input asp-for="Image3" class="form-control" hidden/>
                    <span asp-validation-for="Image3" class="text-danger"></span>
                </div>
            <div class="form-group">
                @*<label asp-for="Status" class="control-label"></label>*@
                <input asp-for="Status" class="form-control" id="status" hidden value="Available" />
                @*<span asp-validation-for="Status" class="text-danger"></span>*@
            </div>
            @*<div class="form-group">
                    <label asp-for="PostedTs" class="control-label"></label>
                    <input asp-for="PostedTs" class="form-control" />
                    <span asp-validation-for="PostedTs" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="Category" asp-items="Html.GetEnumSelectList<ProductCategoryEnum>()" class="form-control">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
        <button type="button" id="changeStatusBtn">Mark this product as Sold!</button>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Products</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $('#changeStatusBtn').click(function () {
            $('#status').val('Sold');
        });

        $("#inputFile1").change(function () {
            readURL1(this);
        });
        $("#inputFile2").change(function () {
            readURL2(this);
        });
        $("#inputFile3").change(function () {
            readURL3(this);
        });

        function readURL1(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#pic1').attr('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
        function readURL2(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#pic2').attr('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
        function readURL3(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#pic3').attr('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
}
