﻿@model PaginatedList<KijijitoForever.Models.Products>

@{
    ViewData["Title"] = "Index";
}

<div class="row my-4">
    <div class="col-md-6 text-center my-auto">
        <h5><a asp-action="Create">Sell your Product</a></h5>
    </div>
    <div class="col-md-4">
        <form asp-controller="Products" asp-action="Index" method="get">
            <div class="form-actions">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="SearchString" value="@ViewData["CurrentFilter"]" />
                    <div class="input-group-append">
                        <input type="submit" value="Search" class="btn btn-secondary" />
                    </div>

                </div>
            </div>
        </form>
    </div>
    <div class="col-md-2 my-auto">
        <a asp-controller="Products" asp-action="Index" asp-route-category=@ViewData["CurrentCategory"]> | Clear Search</a>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <h5>Filter by Category</h5>
        <div class="list-group" id="myList">
            <a class="btn list-group-item active" asp-area="" asp-controller="Products" asp-action="Index" asp-route-category=null asp-route-searchString="@ViewData["CurrentFilter"]">All Products</a>
            <a class="btn list-group-item" asp-area="" asp-controller="Products" asp-action="Index" asp-route-category="Cars" asp-route-searchString="@ViewData["CurrentFilter"]">Cars</a>
            <a class="btn list-group-item" asp-area="" asp-controller="Products" asp-action="Index" asp-route-category="Clothing" asp-route-searchString="@ViewData["CurrentFilter"]">Clothing</a>
            <a class="btn list-group-item" asp-area="" asp-controller="Products" asp-action="Index" asp-route-category="Electronics" asp-route-searchString="@ViewData["CurrentFilter"]">Electronics</a>
            <a class="btn list-group-item" asp-area="" asp-controller="Products" asp-action="Index" asp-route-category="Entertainment" asp-route-searchString="@ViewData["CurrentFilter"]">Entertainment</a>
            <a class="btn list-group-item" asp-area="" asp-controller="Products" asp-action="Index" asp-route-category="HomeAppliances" asp-route-searchString="@ViewData["CurrentFilter"]">Home Appliances</a>
            <a class="btn list-group-item" asp-area="" asp-controller="Products" asp-action="Index" asp-route-category="ToysAndGames" asp-route-searchString="@ViewData["CurrentFilter"]">Toys And Games</a>
            <a class="btn list-group-item" asp-area="" asp-controller="Products" asp-action="Index" asp-route-category="Other" asp-route-searchString="@ViewData["CurrentFilter"]">Other</a>
        </div>
    </div>

    <div class="col-md-9">
        @foreach (var item in Model)
        {
            <div class="row my-3">
                <div class="col-sm-4">
                    <img class="img-fluid w-80" src="~/productImages/@Html.DisplayFor(modelItem => item.Image1)"/>
                </div>
                <div class="col-sm-5">
                    <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
                    <div class="description_wrap mb-2">
                        <p>@Html.DisplayFor(modelItem => item.Description)</p>
                    </div>               
                    <p>@Html.DisplayFor(modelItem => item.Category)</p>
                    <p>@Html.DisplayFor(modelItem => item.Status) -  @Html.DisplayFor(modelItem => item.PostedTs)</p>
                    @*<p>@Html.DisplayFor(modelItem => item.User.Email)</p>*@

                </div>
                <div class="col-sm-3">
                    <h3>$ @Html.DisplayFor(modelItem => item.Price)</h3>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                </div>
            </div>
        }
    </div>
</div>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<div class="text-center">
    <a asp-controller="Products" asp-action="Index" asp-route-category=@ViewData["CurrentCategory"] asp-route-searchString="@ViewData["CurrentFilter"]" asp-route-userid="@ViewData["CurrentUserId"]" asp-route-pageNumber="@(Model.PageIndex - 1)" class="btn btn-default @prevDisabled">
        Previous
    </a>
    <a asp-controller="Products" asp-action="Index" asp-route-category=@ViewData["CurrentCategory"] asp-route-searchString="@ViewData["CurrentFilter"]" asp-route-userid="@ViewData["CurrentUserId"]" asp-route-pageNumber="@(Model.PageIndex + 1)" class="btn btn-default @nextDisabled">
        Next
    </a>
</div>


@section Scripts {
    <script>
        $('.list-group').on('click', '> a', function (e) {
            var $this = $(this);
            $('.list-group').find('.active').removeClass('active');
            $this.addClass('active');
        });
    </script>
}





@*<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image3)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PostedTs)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Image1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Image2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Image3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostedTs)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Id)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@
