﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center my-md-4">
    <div class="text-center">
        <img src="~/images/1200px-Kijijito_Logo.png" class="logo-img" />
    </div>
    <h4 >Kijijito - The little Kijiji clone</h4>
</div>

<div class="text-center">
   
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4 categories-container">
            <img src="~/images/allProducts.jpg" class="categories-img">
            <form asp-area="" asp-controller="Products" asp-action="Index">
                <button class="btn" type="submit">See All Products</button>
            </form>
        </div>
        <div class="col-sm-4 categories-container">
            <img src="~/images/cars.jpg" class="categories-img">
            <form asp-area="" asp-controller="Products" asp-action="Index" asp-route-category="Cars">
                <button class="btn" type="submit">Cars</button>
            </form>
        </div>
        <div class="col-sm-4 categories-container">
            <img src="~/images/clothing.jpg" class="categories-img">
            <form asp-area="" asp-controller="Products" asp-action="Index" asp-route-category="Clothing">
                <button class="btn" type="submit">Clothing</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 categories-container">
            <img src="~/images/electronics.jpg" class="categories-img">
            <form asp-area="" asp-controller="Products" asp-action="Index" asp-route-category="Electronics">
                <button class="btn" type="submit">Electronics</button>
            </form>
        </div>
        <div class="col-sm-4 categories-container">
            <img src="~/images/entertainment.jpg" class="categories-img">
            <form asp-area="" asp-controller="Products" asp-action="Index" asp-route-category="Entertainment">             
                <button class="btn" type="submit">Entertainment</button>
            </form>
        </div>
        <div class="col-sm-4 categories-container">
            <img src="~/images/furniture.jpg" class="categories-img">
            <form asp-area="" asp-controller="Products" asp-action="Index" asp-route-category="Home Appliances">
                <button class="btn" type="submit">Home Appliances</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 categories-container">
            <img src="~/images/toys.jpg" class="categories-img">
            <form asp-area="" asp-controller="Products" asp-action="Index" asp-route-category="ToysAndGames">
                <button class="btn" type="submit">Toys And Games</button>
            </form>
        </div>
        <div class="col-sm-4 categories-container">
            <img src="~/images/other.jpg" class="categories-img">
            <form asp-area="" asp-controller="Products" asp-action="Index" asp-route-category="Other">
                <button class="btn" type="submit">Others</button>
            </form>
        </div>
        <div class="col-sm-4 categories-container">
            <img src="~/images/money.jpg" class="categories-img">
            <form asp-area="" asp-controller="Products" asp-action="Create">
                <button class="btn" type="submit">Sell your product!</button>
            </form>
        </div>
    </div>
</div>
