﻿/* index page */
.logo-img {
  max-height: 100px;
}

.logo-img-header {
    max-height: 25px;
}

/* creation forms */
label {
    width: 130px;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}
/* details */
.profile-image {
    max-height: 150px;
}

/* Main Body*/
.main-body-div {
    min-height: 600px;
    /*border: 1px solid purple;*/
    margin-bottom: 300px;
}

.user-info-li {
    padding-left: 650px;
}

/* footer */
.container-footer {
    /*border: 1px solid blue;*/
    background-color: #3e4153;
    line-height:30px;
}

.container-footer h6,.container-footer p {
    color: white
}

.container-footer a {
        color: lightgrey;
    }

.container-footer a:link, .container-footer a:visited, .container-footer a:active {
    color: lightgrey;
} 

.container-footer a:hover{
    color: white;
    text-decoration: none;
}

.container-footer br {
    display: block; /* makes it have a width */
    content: ""; /* clears default height */
    margin-top: 0;
}




