﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


/* Categories */
.categories-container {
    position: relative;
    width: 20%;
}

    .categories-container img {
        width: 100%;
        height: 100%;
        border: 5px solid white;
        border-radius: 5px;
    }

    .categories-container .btn{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: rgba(247, 246, 246, 0.80);
        color: rgb(63, 28, 129);
        font-size: 16px;
        font-weight:500;
        padding: 12px 24px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
    }

        .categories-container .btn:hover {
            background-color: rgba(63, 28, 129, 0.80);
            color: rgb(247, 246, 246);
        }

.list-group .btn {
    background-color: rgb(247, 246, 246);
    color: rgb(63, 28, 129);
    font-size: 16px;
    font-weight: 500;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

    .list-group .btn:hover {
        background-color: rgb(63, 28, 129);
        color: rgb(247, 246, 246);
    }

/*.list-group .btn.active {
     background-color: rgb(63, 28, 129);
     color: rgb(247, 246, 246);
}*/


.description_wrap {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100px;
}