﻿@model KijijitoForever.Models.AppUser

@{
    ViewData["Title"] = "Confirmation Successful";
}

<h2>Success!</h2>


<div>
    @ViewBag.Result
</div>

<div class="row">
    <div class="col-md-4">
        <p>Thank you for confirming your email. Now you can <a asp-action="Login">Login</a>.</p>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back to Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

