﻿@model KijijitoForever.Models.AppUser

@{
    ViewData["Title"] = "Registration Successful";
}

<h2>Success!</h2>


<div>
    @ViewBag.Result
</div>

<div class="row">
    <div class="col-md-4">
        <p>Your account was successfully created!</p>
        <p>Before you can Login, please confirm your email, by clicking on the confirmation link we have emailed you</p>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back to Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

