﻿@model KijijitoForever.Models.AppUser

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Account User</h4>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-9">
                <dl class="row">
                    <dt class="col-sm-4">
                        @*@Html.DisplayNameFor(model => model.UserName)*@
                        User Name
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.UserName)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <dt class="col-sm-4">
                        @*@Html.DisplayNameFor(model => model.EmailConfirmed)*@
                        Email Confirmed
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.EmailConfirmed)
                    </dd>
                    <dt class="col-sm-4">
                        @*@Html.DisplayNameFor(model => model.PhoneNumber)*@
                        Phone Number
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.PhoneNumber)
                    </dd>
                    <dt class="col-sm-4">
                        @*@Html.DisplayNameFor(model => model.PhoneNumberConfirmed)*@
                        Phone Number Confirmed
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.PhoneNumberConfirmed)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Address)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Address)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.City)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.City)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Province)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Province)
                    </dd>
                    <dt class="col-sm-4">
                        @*@Html.DisplayNameFor(model => model.PostalCode)*@
                        Postal Code
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.PostalCode)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Picture)
                    </dt>
                    <dd class="col-sm-8">
                        <div>
                            @if (Model.Picture == null)
                            {
                                <p>No image</p>
                            }
                            else
                            {
                                <img class="profile-image" src="/userImages/@Html.DisplayFor(model => model.Picture)">
                            }
                        </div>
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Rating)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Rating)
                    </dd>
                    <dt class="col-sm-4">
                        @*@Html.DisplayNameFor(model => model.TwoFactorEnabled)*@
                        Two Factor Enabled
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.TwoFactorEnabled)
                    </dd>



                    @*<dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Secret)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Secret)
                    </dd>*@
                    @*<dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.RegistrationTS)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.RegistrationTS)
                    </dd>*@
                    @*<dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.SecretCreationTS)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.SecretCreationTS)
                    </dd>*@

                    @*<dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.NormalizedUserName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.NormalizedUserName)
                    </dd>

                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.NormalizedEmail)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.NormalizedEmail)
                    </dd>

                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.PasswordHash)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.PasswordHash)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.SecurityStamp)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.SecurityStamp)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ConcurrencyStamp)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ConcurrencyStamp)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.LockoutEnd)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.LockoutEnd)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.LockoutEnabled)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.LockoutEnabled)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.AccessFailedCount)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.AccessFailedCount)
                    </dd>*@
                </dl>
            </div>
            <div class="col-3">
                <dl class="row">
                    <dd class="col-sm-12">
                        <a asp-controller="Products" asp-action="Index" asp-route-category=@ViewData["CurrentCategory"] asp-route-searchString=@ViewData["CurrentFilter"] asp-route-userid="@Model.Id">My Products</a>
                    </dd>
                    <dd class="col-sm-12">
                        <a asp-controller="Conversations" asp-action="Index" asp-route-userid="@Model.Id">My Messages</a>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<div>    
    <a asp-action="Edit" asp-route-username="@Model.UserName">Edit</a> |
    <a asp-controller="Home" asp-action="Index">Back to Home</a>
</div>
