﻿@model KijijitoForever.Models.AppUser

@{
    ViewData["Title"] = "Forgot Password";
}

<h2>Forgot Password?</h2>


<div class="row">
    <div class="col-md-4">
        <p>Please insert your email to reset your password (an email will be sent to that address).</p>
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back to Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

