﻿@model KijijitoForever.Models.AppUser

@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

<h2>Forgot Password?</h2>


<div class="row">
    <div class="col-md-4">
        <p>If you have an account with us, we have sent an email with instructions to reset your password.</p>
        <p>Thanks!</p>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back to Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

