﻿@model KijijitoForever.Models.AppUser

@{
    ViewData["Title"] = "Reset Password Confirmation";
}

<h2>Password Reset Confirmation</h2>


<div class="row">
    <div class="col-md-4">
        <p>Your password is reset. Please click <a asp-action="Login">here</a> to login.</p>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back to Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

