﻿@model KijijitoForever.Models.AppUser

@{
    ViewData["Title"] = "Reset Password";
}

<h2>Reset Password</h2>


<div class="row">
    <div class="col-md-4">
        <p>Please insert a new password.</p>
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="Token" type="hidden" />
            <input asp-for="Email" type="hidden" />
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PasswordRepeat"></label>
                <input asp-for="PasswordRepeat" class="form-control" />
                <span asp-validation-for="PasswordRepeat" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Reset</button>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back to Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

